@model CoreMvcOnlineTicariOtomasyon.Models.Employee

@{
    ViewData["Title"] = "Edit";
}

<html>
<body>


    <h4>Personel Düzenle</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUrl" class="control-label"></label>
                    <input asp-for="ImageUrl" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImagePath" class="control-label" for="addFile"></label>
                    <input asp-for="ImagePath" class="form-control-file" type="file" id="addFile" placeholder="Yeni resim ekle" multiple />
                    <span asp-validation-for="ImagePath" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DepartmentId" class="control-label"></label>
                    @Html.DropDownListFor(m => m.DepartmentId, (List<SelectListItem>)ViewBag.department, new { @class = "form-control" })
                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                </div>


                <div class="form-group form-check">
                    <fieldset>
                        <p>Personel durumu</p>

                        @Html.RadioButtonFor(e => e.Status, true, new { id = "status-true" })
                        @Html.Label("status-true", "Aktif")
                        <br>
                        @Html.RadioButtonFor(e => e.Status, false, new { id = "status-false" })
                        @Html.Label("status-false", "Pasif")
                    </fieldset>
                </div>

                <div class="form-group">
                    <input type="submit" value="Kaydet" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>


    <div>
        <!--Bootstrap grid yapısı sayesinde, rowlar sayesinde responsive kodlar yazıyoruz. Telefonda ekran döndürüldüğünde duyarlı bir şekilde sayfanın aşağı kayması vb.-->
        <!--Bootstrap grid yapısı sayesinde, rowlar sayesinde responsive kodlar yazıyoruz. Telefonda ekran döndürüldüğünde duyarlı bir şekilde sayfanın aşağı kayması vb.-->

        @foreach (var item in Model.Images)
        {

        <span class="align-items-center">
            <img src="\images\@item.ImagePath" style="height: 100px;" class="img-thumbnail">
            <a asp-controller="employees" asp-action="deleteimage" asp-route-id="@item.Id" class="btn btn-outline-danger">Sil</a>

        </span>
        }
    </div>

    <div>
        <a asp-action="Index">Listeye geri dön</a>
    </div>








</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
